player-connection-mode=Listen
player-connection-guid=467845118
player-connection-debug=0
player-connection-project-name=nanomachines-but-micro
player-connection-ip=192.168.1.170
player-connection-ip=10.244.50.139
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
gc-max-time-slice=3
single-instance=
